* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COLOR SCHEME
 * #062c3d - blue green
 * #3c5036 - hunter's green
 * #550505 - blood red
 * #cac6a9 - steel tan
 * #d49139 - gold orange
 */

 html {
     height: 100%;
 }

body {
    background-image: url("/images/game-paper.jpg");
    background-size: cover;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.bg-custom {
    background-color: #550505;
}

.floatL-img {
    float: left;
    padding: 0 1em;
    max-width: 20%;
}

.floatR-img {
    float: right;
    padding: 0 1em;
    max-width: 20%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
}

.object {
    border: 1px solid #062c3d;
    background-color: #cac6a9;
    color: #062c3d;
    padding: 1em;
    margin: 20px;
    /* height: 300px; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.object-status {
    color: #073449b2;
    flex-shrink: 0;
}

.object-img {
    height: 100%;
    max-width: 300px;
}

.object1 {
    flex: 2;
}

.object2 {
    flex: 1;
}

.one {
    background-color: #062c3d;
    color: #cac6a9;
}

.two {
    background-color: #3c5036;
    color: #cac6a9;
}

.three {
    background-color: #550505;
    color: #d49139;
}

.four {
    background-color: #cac6a9;
    color: #062c3d;
}

.five {
    background-color: #d49139;
    color: #550505;
}

.footer {
    background-color: #130702;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    color: #cac6a9;
    padding: 1em;
    /* margin-bottom: -100px; */
    flex-shrink: 0;
}

.footer-item a {
    text-decoration: none;
    color: #cac6a9;
}